
.creature {
  height: 18px;
  width: 18px;
  background-size: 18px;
  background-position: center;
  position: absolute;
}

.creature.pacman {
  background-image: url(../images/pacman.gif);
}

.creature.ghost.ghost1 {
  background-image: url(../images/ghost1.gif);
}
