
.creature {
  height: 18px;
  width: 18px;
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  margin-top: -8px;
  margin-left: -8px;
}

.creature.pacman {
  background-image: url(../images/pacman.gif);
}

.creature.pacman.direction-right {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.creature.pacman.direction-up {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.creature.pacman.direction-down {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.creature.ghost1 {
  background-image: url(../images/ghost1.gif);
}

.creature.ghost2 {
  background-image: url(../images/ghost2.gif);
  background-size: 16px;
}

.creature.ghost3 {
  background-image: url(../images/ghost3.gif);
}

.creature.ghost4 {
  background-image: url(../images/ghost4.gif);
}

.creature.ghost-blue {
  background-image: url(../images/ghost-blue.gif);
}

.creature.ghost-blue.ghost-flash {
  background-image: url(../images/ghost-white.gif);
}

.creature.ghost-eyes {
  background-image: url(../images/ghost-eyes.png);
}
