* {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  font-family: "PixelEmulator";
}

@font-face {
  font-family: "PixelEmulator";
  src: url("../vendor/pixel-sagas_pixel-emulator/PixelEmulator.otf") format("opentype");
}

*::selection {
  background-color: transparent;
}

body {
  background-color: black;
}

#score {
  width: 555px;
  margin: 10px auto;
  color: white;
  font-size: 30px;
}

table {
  margin: auto;
}

td {
  height: 20px;
  width: 20px;
  color: white;
  text-align: center;
  font-weight: bold;
  cursor: default;
  padding: 0px;
}

/*
  border width = 8
  margin = 6

  6 + 8 + 6 = 20
*/

td .walls {
  height: 2px;
  width: 2px;
  border: 0px solid blue;
}

td .walls.vertical {
  height: 20px;
  margin-left: 8px;
  border-left-width: 6px;
}

td .walls.horizontal {
  width: 20px;
  border-top-width: 5px;
}

td .walls.bottom-left,
td .walls.top-left,
td .walls.top-right,
td .walls.bottom-right {
  width: 8px;
  height: 10px;
}

td .walls.top-left {
  margin-left: 8px;
  border-top-width: 5px;
  border-left-width: 5px;
  border-top-left-radius: 10px;
}

td .walls.top-right {
  border-top-width: 5px;
  border-right-width: 5px;
  border-top-right-radius: 10px;
}

td .walls.bottom-left {
  margin-left: 8px;
  border-bottom-width: 5px;
  border-left-width: 5px;
  border-bottom-left-radius: 10px;
}

td .walls.bottom-right {
  border-bottom-width: 5px;
  border-right-width: 5px;
  border-bottom-right-radius: 10px;
}
