* {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  font-family: "PixelEmulator";
}

@font-face {
  font-family: "PixelEmulator";
  src: url("../vendor/pixel-sagas_pixel-emulator/PixelEmulator.otf") format("opentype");
}

*::selection {
  background-color: transparent;
}

body {
  background-color: black;
}

#screen {
  width: 100%;
  text-align: center;
}

.board-end {
  width: 555px;
  margin: 10px auto;
  color: white;
  font-size: 30px;
  text-align: left;
  display: inline-flex;
  justify-content: space-between;
}

#restart {
  display: none;
}

#restart:hover {
  color: red;
  cursor: pointer;
}

#board {
  display: inline-block;
}

#github-link {
  position: absolute;
  top: 10px;
  right: 10px;
}

#github-link img {
  height: 50px;
  border: none;
}

#arrow-keys {
  display: none;
  text-align: center;
}

#arrow-keys div {
  display: inline-block;
  height: 60px;
  width: 60px;
  background-image: url(../images/arrow.png);
  background-size: 60px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 25px;
  padding: 5px;
  cursor: pointer;
}

#arrow-keys div.up {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#arrow-keys div.left {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#arrow-keys div.right {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

@media only screen and (max-width: 600px) {
  #arrow-keys {
    display: block;
  }

  #github-link {
    display: none;
  }
}
