@media only screen and (max-width: 600px) {
  #arrow-keys {
    display: block;
  }

  #github-link {
    display: none;
  }

  .board-end {
    width: calc(100% - 10px);
    font-size: 20px;
    margin: 5px;
  }

  .board-cell {
    height: 12px;
    width: 12px;
  }

  .creature {
    height: 18px;
    width: 18px;
    background-size: 18px;
    margin-top: -3px;
    margin-left: -2px;
  }
}
