td {
  border: 1px solid red;
}

#board.normal td {
  border: none;
}

#tests {
  margin: 30px;
  padding: 20px;
  padding-top: 10px;
  background-color: #ddd;
}

#tests ul {
  margin-left: 20px;
}

#tests p {
  margin: 10px 0px;
  font-weight: bold;
}

#tests .test-failed {
  color: red;
}

td.test-coordinates {
  font-weight: normal;
  color: red;
}

#board.normal td.test-coordinates {
  display: none;
}

td.board-path.show-path {
  background-color: yellow;
  color: black;
}

td.board-path.show-path-end {
  background-color: red;
}

td.target-tile-1 {
  background-color: pink;
}

td.target-tile-2 {
  background-color: red;
}

td.target-tile-3 {
  background-color: orange;
}

td.target-tile-4 {
  background-color: teal;
}
