td {
  border: 1px solid red;
}

#board.normal td {
  border: none;
}

td.test-coordinates {
  font-weight: normal;
  color: red;
}

#board.normal td.test-coordinates {
  display: none;
}

td.board-path.PATH-TEMP {
  background-color: yellow;
}

td.board-path.PATH-TEMP.PATH-TEMP-CHOICE {
  background-color: green;
}

td.board-path.PATH-TEMP.PATH-TEMP-END {
  border: 2px solid red;
  color: red;
}

td.board-path.PATH-TEMP-REMOVED {
  color: orange;
}
